---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<NavBar color1="#6e43f8" color2="#9161fa" />
			<slot />
		
		<Footer color1="#6e43f8" color5="#f7b8ff" />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		font-family: 'Inter', sans-serif;
	}
</style>
